**.csv
**.rds
**.rproj
**.rhistory
# Ignore all .xlsx files
*.xlsx
# But do NOT ignore .xlsx and .csv files in the reference/ directory
!reference/dictionaries/*.xlsx
!reference/dictionaries/*.csv
!reference/*.xlsx
!reference/*.csv
**.swp
**.swo
.Rproj.user
**.rda
**.html
**.Rbuildignore
demoHere2.r